
:root {
  --board-size: min(100vw-300, 100vh);
  --square-size: calc(var(--board-size) / 8);
  --sidebar-min-width: 300;
  --sidebar-width: 300;
  --theme-light-color: #D9E4E8;
  --theme-dark-color: #7498AE;
  --font-family: "Roboto",  "Arial", sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: black;
    overflow-x: hidden;
    overflow-y: hidden;
}

html, body {
  font-family: var(--font-family);
  margin: 0;
}

h1, h2, h3, p {
  color: var(--theme-light-color);
  font-family: var(--font-family);
  margin: 0;
}

.container-board {
    flex-shrink: 0;
    width: min(calc(100vh - 20px), calc(100vw - 270px));
    height: min(calc(100vh - 20px), calc(100vw - 270px));
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.container-column {
  align-items: center;
  display: flex;
  flex-direction: column;
  heigth: 100%;
  justify-content: center;
}

.container-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.container-white2play {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  align-items: center; 
  background: black;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  border: 2px solid white;
  border-radius: 8px;
}

.container-black2play {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: center;
  align-items: center; 
  background: white;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  border: 2px solid black;
  border-radius: 8px;
}

.container-grid {
  aspect-ratio: 1 / 1;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  gap: 0px;
  padding: 0px;
}
 
.container-sb-v1 {
  align-items: center;
  border: 2px solid yellow;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.container-sb {
    flex: 1;
    min-width: 250px;
    background-color: #34495e;
    border-radius: 8px;
    height: 100vh;
    padding: 5px;
    color: white;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
 
.container-sb-header-old {
  display: flex;
  flex: 1;
  flex-direction: row;
}
.container-sb-body-old {
  display: flex;
  flex: 8;
  flex-direction: column;
}
.container-sb-footer-old {
  display: flex;
  flex: 1;
  gap: 10px;
  flex-direction: row;
}

.container-sb-top {
    flex: 0 0 10%;
    Flex-direction: row;
}

.container-sb-middle {
    flex: 1;
    overflow-y: auto;
    margin: 20px 0;
}

.container-sb-bottom {
    flex: 0 0 10%;
    Flex-direction: row;
}

.container-window {
    display: flex;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 5px;
}

.crown-container {
    width: 50px;
    height: 50px;
    background-color: green;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.crown-icon {
    width: 80%;
    height: 80%;
/*    filter: invert(1); */
}

.title {
  background: rgba(0, 0, 0, 0.8);
  color: green;
  font-size: 2rem;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}


.splashText {
    text-align: left; 
    color: yellow;
}

.full-page-splash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  display: grid;
  place-items: center; 
  z-index: 9999;
}

.splashCard {
  background: black;
  border: 2px solid yellow;
  border-radius: 12px;
  margin: 10px 0;
  padding: 3rem;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
  max-width: 400px;
  text-align: left;  
  width: 90%;
}

.move-div {
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 14pt;
  padding-left: 8px;
  padding-right: 8px;
}
.move-count {
  flex: 1;
}
.move-half {
  flex: 2;
  font-style: italic;
}

.move-positive {
  color: lightgreen;
  flex: 5;
  font-weight: bold; 
  justify-content: center;
}

.move-negative {
  color: red;
  flex: 5;
  justify-content: center;
}

button2 {
  background-color: green;
  border: 1px solid transparent;
  border-radius: 2px;
  border-width: 1px;
  border-color: green;
  cursor: pointer;
  font-size: 1.5rem;
  justify-content: center;
  margin: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button {
  background-color: green; // #007bff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 200;
  margin: 5px;
  padding: 10px 10px;
  transition: all 0.3s ease; /* Smooths the transition */
}

button:hover {
  background-color: #0056b3; /* Darker or brighter shade */
  transform: translateY(-2px) scale(1.05); /* Lifts and grows slightly */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2); /* Adds depth */
}

.splash-button {
  height: 50px;
}

.sb-button {
  height: 50px;
}

.sb-button p {
  color: white;
}
    
.sb-button button:hover {
  background-color: green;
  color: grey;
}


/* Dynamic squares combine file and rank for board position */
.rank8 {  top: calc(0 * var(--square-size)); }
.rank7 {  top: calc(1 * var(--square-size)); }
.rank6 {  top: calc(2 * var(--square-size)); }
.rank5 {  top: calc(3 * var(--square-size)); }
.rank4 {  top: calc(4 * var(--square-size)); }
.rank3 {  top: calc(5 * var(--square-size)); }
.rank2 {  top: calc(6 * var(--square-size)); }
.rank1 {  top: calc(7 * var(--square-size)); }

.file-a {  left: calc(0 * var(--square-size)); }
.file-b {  left: calc(1 * var(--square-size)); }
.file-c {  left: calc(2 * var(--square-size)); }
.file-d {  left: calc(3 * var(--square-size)); }
.file-e {  left: calc(4 * var(--square-size)); }
.file-f {  left: calc(5 * var(--square-size)); }
.file-g {  left: calc(6 * var(--square-size)); }
.file-h {  left: calc(7 * var(--square-size)); }

.square {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: var(--square-size);
  height: var(--square-size);
}

.drag-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.3);
    pointer-events: none;
    transition: background-color 0.3s ease;
}

.check-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.5);
    pointer-events: none;
    transition: background-color 0.3s ease;
}

.click-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 0, 0.4);
    pointer-events: none;
    transition: background-color 0.3s ease;
}

.probe-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 0, 0.4);
    pointer-events: none;
    transition: background-color 0.3s ease;
}

.floatPiece {
  position: absolute;
  width: var(--square-size);
  height: var(--square-size);
  z-index: 9;
  visibility: hidden;
}

.piece {
  top: 0;
  left: 0;
  background-color: transparent;
  width: var(--square-size);
  height: var(--square-size);
  z-index: 8;
  cursor: grab;
  pointer-events: auto;
}


    .drop-zone {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f9f9f9;
    }
    .drop-zone.over {
      border-color: #666;
      background-color: #e3e3e3;
    }